<div class="bg-header-dash h-30">
  <div class="container h-100">
    <div class="row h-100">
        <div class="pl-3 pr-3 pt-3 col-12 h-100">
          <div class="col-12 h-15">
            <div class="row d-inline-flex w-100">
              <div class="col-md-6">
                <div class="row"> 
                  <img class="img-logo" src="../../assets/img/logo.png">
                </div>
              </div>
              <div class="col-md-6">
                <div class="row display-center d-flex float-right"> 
                  <i class="fas ml-3 mr-3 text-light icon-size fa-search"></i>
                  <i class="fas ml-3 mr-3 text-light icon-size fas fa-bell"></i>
                  <div class="ml-3 mr-3">
                    <img class="img-rounded-header" src="../../assets/img/avatar-image.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="d-flex h-85 display-end">
          <div class="mr-4 nav-item cursor-pointer active">
            <a routerLink='/jobseeker' class="usl"><span class="text-light text-uppercase">Dashboard</span></a>
          </div>
          <div class="mr-4 nav-item cursor-pointer">
            <a routerLink='/jobseeker/profile' class="usl"><span class="text-light text-uppercase">Profile</span></a>
          </div>
          <div class="mr-4 nav-item cursor-pointer">
            <a routerLink='/jobseeker/myjobs' class="usl"><span class="text-light text-uppercase">Job Applications</span></a>
          </div>
          <div class="mr-4 nav-item cursor-pointer">
            <a routerLink='/jobseeker/myresume' class="usl"><span class="text-light text-uppercase">My Resume</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
